{% set intvars = interfaces[ansible_hostname] %}
# /etc/network/interfaces template for switches ({{ansible_hostname}})
# Created by Ansible

auto lo
iface lo inet loopback
  address {{ intvars.loopback }}/32

auto eth0
iface eth0 inet dhcp

{% if intvars.neighbors is defined %}
{% for iface in intvars.neighbors %}
auto {{ iface }}
iface {{ iface }}
    address {{ intvars.loopback }}/32

{% endfor %}
{% endif %}

{% for iface in intvars.fabric %}
auto {{ iface }}
iface {{ iface }}

{% endfor %}
