{% set intvars = interfaces[ansible_hostname] %}
{% set neighborvars = intvars['neighbors'] %}
# /etc/network/interfaces template for servers ({{ansible_hostname}})
# Created by Ansible

auto lo
iface lo inet loopback
    address {{ intvars['loopback'].ip }}
    netmask {{ intvars['loopback'].mask }}

auto eth0
iface eth0 inet dhcp
    post-up ip route add default via 192.168.0.1


{% for iface in neighborvars %}
auto {{ iface }}
iface {{ iface }} inet static
    address {{ intvars['loopback'].ip }}
    netmask {{ intvars['loopback'].mask }}
{% if neighborvars[iface].postup is defined %}
    postup {{neighborvars[iface].postup}}
{% endif %}
{% endfor %}
